fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pdfplumber
groq
sendgrid
passlib[bcrypt]
bcrypt==4.0.1
redis
prometheus-fastapi-instrumentator
google-auth-oauthlib
google-api-python-client
